:host {
    position: fixed; 
    right: 0px;
    bottom: 0px;
    background-color: aqua ;
    padding : (10,10,10,10)
  }
  #scrollMe{
      height: 200px;
      width: 300px;
      overflow: auto;
      word-break: break-all;
  }