<div tabindex="1">   
    <div *ngIf="showText">
        <div>
            <div id='buttonContainer'>
                <div id='buttons'>
                    <button *ngFor="let conversation of conversations; index as i" (click)="changeConversation(i)"> test   </button>
                </div>
            </div>
        <div id='scrollMe' #scrollMe>
            <ul class="reviews">
                <div style.margin="0px" *ngFor="let message of conversations[currentConversation].messages">
                  {{message.originator.name}}: {{message.contents}}
                </div>
              </ul>
        </div>
        <div>
            <textarea id="textArea" #textArea (focus)="showContent()" (keyup.enter)="send()" [(ngModel)]="message" rows="2"></textarea>
        </div>
        </div>
        <div id='sendButtons'>
        <button (click)="send()">Send</button>
        <button (click)="cancel()">Cancel</button>
        </div>
    </div>
    <h3 (click)="toggleContent()">Texting app</h3> 
</div>