:host {
    position: fixed; 
    right: 0px;
    bottom: 0px;
    background-color: aqua ;
    padding : (10,10,10,10)
  }
  ul{
    margin-left:0px;
    padding-left:10px;
  }
  #scrollMe{
      height: 200px;
      width: 300px;
      margin-left: 10px;
      margin-right:10px;
      overflow: auto;
      word-break: break-all;
      background-color:white;
      border: black;
      border-radius:10px;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
  #buttons{
    height: 32px;
    margin: 10px;
    border: black;
    border-style: solid

    }
  #sendButtons{
      margin: 10px;
      }
    #textArea{
      width:300px;
      margin:10px;
    }
  #buttonContainer{
    width:300px;
    overflow: auto;
  }