<h1>Reviews</h1>
<ul class="reviews">
  <li *ngFor="let review of reviews">
    <app-review [review]="review" [itemName]="item.name"></app-review>
  </li>
</ul>
<ng-container (click)="userReview.rating=1">
<ng-container *ngIf="userReview.rating>=1; else lone"><img (click)="userReview.rating=1" width=20 height=20 src="assets/fullStar.png"/></ng-container>
<ng-template #lone> <ng-container><img (click)="userReview.rating=1" width=20 height=20 src="assets/emptyStar.png"/></ng-container></ng-template>
</ng-container>
<ng-container (click)="userReview.rating=2">
<ng-container *ngIf="userReview.rating>=2; else ltwo"><img (click)="userReview.rating=2" width=20 height=20 src="assets/fullStar.png"/></ng-container>
<ng-template #ltwo> <ng-container><img (click)="userReview.rating=2" width=20 height=20 src="assets/emptyStar.png"/></ng-container></ng-template>
</ng-container>
<ng-container (click)="userReview.rating=3">
<ng-container *ngIf="userReview.rating>=3; else lthree"><img (click)="userReview.rating=3" width=20 height=20 src="assets/fullStar.png"/></ng-container>
<ng-template #lthree> <ng-container><img (click)="userReview.rating=3" width=20 height=20 src="assets/emptyStar.png"/></ng-container></ng-template>
</ng-container>
<ng-container (click)="userReview.rating=4">
<ng-container *ngIf="userReview.rating>=4; else lfour"><img (click)="userReview.rating=4" width=20 height=20 src="assets/fullStar.png"/></ng-container>
<ng-template #lfour> <ng-container><img width=20 height=20 (click)="userReview.rating=4" src="assets/emptyStar.png"/></ng-container></ng-template>
</ng-container>
<ng-container (click)="userReview.rating=5">
<ng-container *ngIf="userReview.rating>=5; else lfive"><img (click)="userReview.rating=5" width=20 height=20 src="assets/fullStar.png"/></ng-container>
<ng-template #lfive> <ng-container><img width=20 height=20 (click)="userReview.rating=5" src="assets/emptyStar.png"/></ng-container></ng-template>
</ng-container>
<div></div>
<p>Review:</p>
<textarea [(ngModel)]="userReview.message" rows="5" cols="35"></textarea>
<div></div>
<button (click)=submitReview()>Submit</button>
<p style="color:red">{{errormessage}}</p>