<app-seller-header></app-seller-header>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="name">Item Name</label>
                <input [(ngModel)]="item.name" type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label for="price">Item Price</label>
                <input [(ngModel)]="item.price" type="number" class="form-control" name="price" required>
            </div>
            <div class="form-group">
                <label for="details">Item Details</label>
                <textarea [(ngModel)]="item.details" type="text" class="form-control" name="details"></textarea>
            </div>
            <div class="float-right">
                <button type="submit" (click)="addItem()" class="btn btn-success" style="width: 100px;">Add Item</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
