<app-seller-header></app-seller-header>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="name">Item Name</label>
                <input [(ngModel)]="item.name" name="name" value="{{item.name}}" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="price">Item Price</label>
                <input [(ngModel)]="item.price" name="price" value="{{item.price}}" type="number" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="details">Item Details</label>
                <textarea [(ngModel)]="item.details" name="details" value="{{item.details}}" type="text" class="form-control" required></textarea>
            </div>
            <div class="float-right">
                <button type="submit" (click)="updateItem()" class="btn btn-success mx-2" style="width: 100px;">Save</button>
                <button type="submit" (click)="deleteItem()" class="btn btn-danger" style="width: 100px;">Delete</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
