<app-customer-header></app-customer-header>
<h1>{{seller.name}}</h1>
<div class="container">
    <div *ngFor="let item of items" class="row">
        <div class="col-sm-6">
            <a routerLink="/item/{{item.id}}"><img src={{item.image}} [alt]="item.name"></a>
        </div>
        <div class="col-sm-6">
            Item Name: {{item.name}}<br/><br/>
            Price: {{item.price}}<br/><br/>
            {{item.details}}<br/>
        </div>
    </div>
    <button (click)="startConvo()">Contact Seller</button>
</div>
<app-sellerreview [seller]="seller"></app-sellerreview>